# Lichess API Configuration
LICHESS_API_TOKEN=your_personal_api_token_here

# Engine Configuration
PTH_WEIGHTS_PATH=./weights/resnet20_student_v3.pth
ONNX_MODEL_PATH=./weights/resnet20_student_v3_int8.onnx
BOOK_PATH=./openings/Titans.bin